body
{
    word-wrap:break-word;
    text-align: justify;
}
h1.titreh1
{
    font-variant: small-caps;
    font-weight: 100;
    font-size: 40px;
    font-family: optima, sans-serif; 
    text-decoration: underline;
    text-align: center;
    color: #660000;
}
.sommaire
{
    font-style: italic;
    font-size:17px;
}
.sommaire1
{
    font-style: italic;
    font-size:17px;
    text-align:left;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #999999;
    border-bottom-color:white;
    border-bottom-style: double;
    border-bottom-width: 4px
}
table
{
    margin: auto;
}
.titresommaire
{
    font-style: normal;
    font-size: 25px;
    font-weight: normal;
    font-family: DejaVu Sans Mono, monospace;
    color: #002080
}
.texte
{
    font-style: normal;
    font-size: 20px;
    font-weight: normal;
    font-family: arial, sans-serif;
}
.titre
{
    font-size: 25px;
    font-weight: 100;
    font-family: DejaVu Sans Mono, monospace;
    color: #800000 
}
.exemple
{
    font-size: 24px
}
.nomexemple
{
    font-style: italic;
    font-size: 25px;
    color: #595959;
}
.annexe
{
    font-size: 15px;
    font-family: arial, sans-serif;
}
.titreannexe
{
    font-size: 20px;
    font-weight: 900;
}
a:link
{
    text-decoration:none;
}
strong
{
    font-weight: normal;
}

.lien
{
    color: black;
}
.li2
{
    list-style: url(li2.jpg);
    list-style-position: inside;
}
.main
{
    padding-left:1%;
    background-image: url(fond5.jpg);
    background-repeat: round;
    background-attachment: scroll; 
    z-index:1;   
}
header
{
    background-color:black;
    background-size: contain;
    border-bottom-color:#999999;
    border-bottom-style: double;
    border-bottom-width: 4px
}

.entete2
{
    padding-left:5%;
    font-size:40px;
    font-variant:small-caps;
    color: white;
    position:relative;
    left:23%;
    bottom:50px;
    display: inline;
    text-align: center
}
.entete1
{
    padding-left:5%;
    padding-top: 1%;
    padding-bottom: 1%;
    position:relative;
    left:28%;
}
table, td
{
    border:2px solid black

}
td
{
    background-color: rgb(240, 240, 240);
}
