body
{
    word-wrap:break-word;
    text-align: justify;
}
html
{
    background-color:rgb(255, 255, 255)
}
h1.titreh1
{
    font-variant: small-caps;
    font-weight: 100;
    font-size: 40px;
    font-family: optima, sans-serif; 
    text-decoration: underline;
    text-align: center;
    color:rgb(255, 123, 0);
}
.sommaire
{
    font-style: italic;
    font-size:17px;
}
.sommaire1
{
    font-style: italic;
    font-size:17px;
    text-align:left;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color:rgb(255, 187, 0) ;
    border-bottom-color:white;
    border-bottom-style: double;
    border-bottom-width: 4px;
}
table
{
    margin: auto;
}
.titresommaire
{
    font-style: normal;
    font-size: 25px;
    font-weight: normal;
    font-family: DejaVu Sans Mono, monospace;
    color:black;
}
.texte
{
    font-style: normal;
    font-size: 20px;
    font-weight: normal;
    font-family: arial, sans-serif;
}
.titre
{
    font-size: 25px;
    font-weight: 100;
    font-family: DejaVu Sans Mono, monospace;
    color:rgb(255, 123, 0)
}
.exemple
{
    font-size: 24px
}
.nomexemple
{
    font-style: italic;
    font-size: 25px;
    color: #595959;
}
.annexe
{
    font-size: 15px;
    font-family: arial, sans-serif;
}
.titreannexe
{
    font-size: 20px;
    font-weight: 900;
}
a:link
{
    text-decoration:none;
}
strong
{
    font-weight: normal;
}
.lien
{
    color:black;
}
.lien1
{
    color: rgb(49, 24, 0);
}

.li2
{
    list-style: url(li2.jpg);
    list-style-position: inside;
}
.main
{
    padding-left:1%;
    background-repeat: round;
    background-attachment: scroll; 
    z-index:1;   
}
header
{
    background-color:black;
    border-bottom-color:rgb(255, 187, 0);
    border-bottom-style: double;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto    
}

.entete2
{
    font-variant:small-caps;
    color:rgb(255, 187, 0);
    order:2;
    vertical-align: middle;
    padding-top:2.5%;
    font-size:30px;
}
.entete1
{
    order:1;
}
table, td
{
    border:2px solid rgb(255, 123, 0);
    border-collapse: collapse
}
td
{
    background-color: rgb(245, 245, 245);
}
